body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #000000;
}

footer {
  top:100%;
    flex-shrink: none;
    text-align: center;
}

h1 {
  text-align: center;
  color: rgb(12, 162, 15); /* #273b87; */
}

#video_frame {
  /* width: 320px; 720px; */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 1;
 }

 .ball {
  width: 30%;
  height: 80px;
  background: rgb(12, 162, 15);
  position: absolute;
  border-radius: 50%;
  z-index: 3;
}

.eye {
  width: 40%;
  height: 80px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.eyes {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 2;
}

 #area_frame {
  position: absolute;
  /* width: 720px; */
}

a:link {
  color: rgb(12, 162, 15);
  /* text-decoration-line: none; */
}
/* visited link */
a:visited {
  text-decoration-line: none;
  color: rgb(12, 162, 15);
}

/* mouse over link */
a:hover {
  text-decoration-line: none;
  color: hotpink;
}

/* selected link */
a:active {
  text-decoration-line: none;
  color: blue;
}
